/*
Error: Invalid CSS after "＆:child-nth(1).": expected class name, was "&:child-nth(4)"
        on line 31 of /Users/crazyms/www/crazyms520/scss/public2.scss

26:   .monster {
27:     width: calc( 50% - #{$border});
28:     height: calc( 70% - #{$border});
29:     border: 1px solid red;
30:   }
31:   ＆:child-nth(1).&:child-nth(4) {
32:     background-color: red;
33:   }
34: }
35: 
36: .menu {

Backtrace:
/Users/crazyms/www/crazyms520/scss/public2.scss:31
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:190:in `class_selector'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:158:in `simple_selector_sequence'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:111:in `selector'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1115:in `expr!'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:427:in `visit_rule'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/crazyms/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"＆:child-nth(1).\": expected class name, was \"&:child-nth(4)\"\A         on line 31 of /Users/crazyms/www/crazyms520/scss/public2.scss\A \A 26:   .monster {\A 27:     width: calc( 50% - #{$border});\A 28:     height: calc( 70% - #{$border});\A 29:     border: 1px solid red;\A 30:   }\A 31:   ＆:child-nth(1).&:child-nth(4) {\A 32:     background-color: red;\A 33:   }\A 34: }\A 35: \A 36: .menu {"; }
