@charset "UTF-8";
html body {
  width: 100%;
  height: 100%;
}
html body .container {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
html body .container .npc, html body .container .me, html body .container .message {
  display: inline-block;
  width: 100%;
  height: 200px;
}
html body .container .npc {
  display: flex;
  flex-direction: row;
}
html body .container .npc .left, html body .container .npc .right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
html body .container .npc .left .top, html body .container .npc .left .down, html body .container .npc .right .top, html body .container .npc .right .down {
  height: 100%;
}
html body .container .npc .blood {
  width: 100%;
  height: 100%;
  margin: 0;
}
html body .container .npc .blood h4 {
  width: calc(100% - 10px);
  padding: 10px 5px 10px 10px;
  margin: 0;
  letter-spacing: 6px;
}
html body .container .npc .blood div {
  display: inline;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  margin-left: 10px;
}
html body .container .npc .blood div span:nth-child(1) {
  display: inline-block;
  width: 30px;
}
html body .container .npc .blood div span:nth-child(1):before {
  content: 'HP: ';
  padding-left: 5px;
}
html body .container .npc .blood div span:nth-child(2) {
  display: inline-block;
  padding: 0 calc(50% - 50px);
  border-radius: 10px;
  border: 1px solid black;
  background: red;
  height: 15px;
}
html body .container .npc .baby {
  display: inline-block;
  width: 100%;
  height: 100%;
}
html body .container .npc .baby img {
  width: 100%;
  height: 100%;
}
html body .container .me {
  display: flex;
  flex-direction: row;
}
html body .container .me .left, html body .container .me .right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
html body .container .me .left .top, html body .container .me .left .down, html body .container .me .right .top, html body .container .me .right .down {
  height: 100%;
}
html body .container .me .blood {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: right;
}
html body .container .me .blood h4 {
  width: 100%;
  padding: 10px 5px 10px 0;
  margin: 0;
  letter-spacing: 6px;
}
html body .container .me .blood div {
  display: inline;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  margin-right: 10px;
  padding-right: 5px;
}
html body .container .me .blood div span:nth-child(1) {
  display: inline-block;
  width: 30px;
}
html body .container .me .blood div span:nth-child(1):before {
  content: 'HP: ';
  padding-left: 5px;
}
html body .container .me .blood div span:nth-child(2) {
  display: inline-block;
  padding: 0 calc(50% - 50px);
  border-radius: 10px;
  border: 1px solid black;
  background: red;
  height: 15px;
}
html body .container .me .baby {
  display: inline-block;
  width: 100%;
  height: 100%;
}
html body .container .me .baby img {
  width: 100%;
  height: 100%;
}
html body .container .message {
  margin-top: 10px;
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
html body .container .message .left, html body .container .message .right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
html body .container .message .left .top, html body .container .message .left .down, html body .container .message .right .top, html body .container .message .right .down {
  display: flex;
  flex-direction: row;
  height: 100%;
}
html body .container .message .right {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
html body .container .message .action {
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 98px;
  line-height: 98px;
  font-size: 28px;
}
html body .container .message .action .label {
  cursor: pointer;
}
html body .container .message .action .label .pointer {
  display: inline-block;
  opacity: 0.0;
  border-color: transparent transparent transparent #000000;
  border-style: solid solid solid solid;
  border-width: 10px;
  /* 設定 width、height 可更好理解原理 */
  height: 0;
  width: 0;
}
html body .container .message .action .label .order {
  margin-left: -10px;
}
