html {
  body {
    width: 100%;
    height: 100%;
    .container {
      width: 100%;
      max-width: 600px;
      max-height: 600px;
      display: flex;
      flex-direction: column ;
      margin: 0 auto;
      .npc, .me, .message {
        display: inline-block;
        width: 100%;
        height: 200px; //要有東西才可以有框框 calc( 100% / 3px )
        // border: 1px solid black;
      }
      .npc{
        display: flex;
        flex-direction: row;
        .left, .right {
          display: flex;
          flex-direction: column;
          width: 100%;
          // border: 1px solid green;
          .top, .down {
            height: 100%;
            // border: 1px solid green;
          }
        }
        .blood {
          width: 100%;
          height: 100%;
          margin: 0;
          
          h4 {
            width: calc(100% - 10px);
            padding: 10px 5px 10px 10px ;
            margin: 0;
            letter-spacing: 6px
          }
          div {
            display: inline;
            border-left: 5px solid black;
            border-bottom: 5px solid black;
            margin-left: 10px;
            span:nth-child(1) {
              display: inline-block;
              width: 30px;        
              &:before {
                content: 'HP: ';
                padding-left: 5px;
              }
            }
            span:nth-child(2) {
              display: inline-block;
              padding: 0 calc(50% - 50px);
              // width: calc( 100% - 50px );
              border-radius: 10px;
              // border: 1px solid black;
              background: red;
              height: 15px;
            }
          }
        }
        .baby {
          display: inline-block;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .me {
        display: flex;
        flex-direction: row;
        .left, .right {
          display: flex;
          flex-direction: column;
          width: 100%;
          // border: 1px solid green;
          .top, .down {
            height: 100%;
            // border: 1px solid green;
          } 
        }
        .blood {
          width: 100%;
          height: 100%;
          margin: 0;
          text-align: right;
          h4 {
            width: 100%;
            padding: 10px 5px 10px 0 ;
            margin: 0;
            letter-spacing: 6px
          }
          div {
            display: inline;
            border-right: 5px solid black;
            border-bottom: 5px solid black;
            margin-right: 10px;
            padding-right: 5px;
            span:nth-child(1) {
              display: inline-block;
              width: 30px;        
              &:before {
                content: 'HP: ';
                padding-left: 5px;
              }
            }
            span:nth-child(2) {
              display: inline-block;
              padding: 0 calc(50% - 50px);
              // width: calc( 100% - 50px );
              border-radius: 10px;
              border: 1px solid black;
              background: red;
              height: 15px;
            }
          }
        }
        .baby {
          display: inline-block;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .message {
        margin-top: 10px;
        border: 5px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        .left, .right {
          display: flex;
          flex-direction: column;
          width: 100%;
          // border: 1px solid green;
          .top, .down {
            display: flex;
            flex-direction: row;
            height: 100%;
            // border: 1px solid green;
          } 
        }
        .right {
          margin: 5px;          
          border: 1px solid black;
          border-radius: 5px;
        }
        .action {
          display: inline-block;
          text-align: center;
          width: 50%;
          height: 98px;
          line-height: 98px;
          font-size: 28px;
          // border: 1px solid red;
        }
      }
    }
  }
}