html {
  body {
    width: 100%;
    height: 100%;
    .container {
      width: 100%;
      max-width: 500px;
      height: 500px;
      // height: 100%;
      // max-height: 900px;
      display: flex;
      flex-direction: column ;
      margin: 0 auto;
      .npc,.me{
        border: 1px solid red;
        display: flex;
        flex-direction: row ;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        .left,.right {
          width: 50%;
          height: 100%;
          border: 1px solid blue;
        }
      }
      .npc {
        .top {
          position:relative;
          top: 0;
          left: 0;
          border: 1px solid green;
          padding-left: 10px;
        }

        .left{
          .blood {
            width: calc(100% - 10px);
            height: 60px;
            h4 {
              margin: 5px 0;           
            }
            div {
              position: absolute;
              left: 10px;
              bottom: 0;
              margin: 5px 0;
              width: calc( 100% - 100px );
              border-bottom: 5px solid black;
              border-left: 5px solid black;
              border-radius: 0 0 0 5px;
              span:first-child {
                display: inline-block;
                width: 30px;        
                &:before {
                  content: 'HP: ';
                }
              }
              span:nth-child(2) {
                display: inline-block;
                width: calc( 100% - 50px );
                border-radius: 10px;
                border: 1px solid black;
                background: red;
                height: 15px;
              }
            }
          }
        }
        .right {
          .baby {
            width: calc(100% - 10px);
            height: 350px;
          }
        }
      }
      .me {
        .left {
          .bottom {
            position:relative;
            bottom: calc(350px - 100%);
            right: 0;
            padding-left: 10px;
            border: 1px solid green;
          }
        }
        .right {
          .bottom {
            position:relative;
            bottom: calc(100px - 100%);
            right: 0;
            padding-left: 10px;
            border: 1px solid green;
          }

          .blood {
            width: calc(100% - 10px);
            height: 60px;
            h4 {
              margin: 5px 0;           
            }
            div {
              position: absolute;
              right: 10px;
              bottom: 0;
              margin: 5px 0;
              margin-right: 0;
              width: calc( 100% - 100px );
              border-bottom: 5px solid black;
              border-right: 5px solid black;
              border-radius: 0 0 5px 0;
              span:first-child {
                display: inline-block;
                width: 30px;        
                &:before {
                  content: 'HP: ';
                }
              }
              span:nth-child(2) {
                display: inline-block;
                width: calc( 100% - 50px );
                border-radius: 10px;
                border: 1px solid black;
                background: red;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}