html {
    font-family: 'Ubuntu', sans-serif;
    overflow: scroll;
    body {
        margin: 0;
        background-color: rgba(231, 225, 225, 1.00);
    }
}
.container {
    header {
        position: relative;
        margin: 0 auto;
        max-width: 980px;
        height: 150px;
        .header-left {
            position: absolute;
            bottom: 0;
            width: 265px;
            h1,h2 {
                margin: 0;
            }
            h1 {
                font-size: 55px;
                }
        }
        .header-right {
            position: absolute;
            bottom: 0;
            left: 265px;
            width: calc(100% - 265px);
            i {
                display: none;
            }
            a {
                padding: 0 10px;
                text-decoration: none;
                color: rgba(128, 128, 128, 1.00);
                font-family: 'Noto Sans Kannada', sans-serif;
                font-weight: bolder;
                &:hover {
                    color: rgba(86, 201, 206, 1.00);
                }
            }
        }     
        .mbars {
            display: none;
        }       
    }
    div.home {    
        max-width: 980px;
        height: 100%;
        margin: 0 auto;
        .content {
            width: 100%;
            height: calc(100% - 360px);
            display: flex;
            // overflow: hidden;
            .image,.info {
                width: 50%;
                // border: 1px solid red;
            }
            .info {
                height: 100%;
                .about {
                    padding-top : 60px;
                    span:first-child{
                        font-size: 60px;                                                        
                    }
                }
                .circle {
                    margin: 20px 0;
                    width: 100%;
                    a {
                        // margin: 0 5px;
                        display: inline-block;
                        width: 150px;
                        height: 150px;
                        color: rgba(250, 252, 255, 1.00);
                        border-radius: 50%;
                        text-decoration: none;
                        background-color: red;
                        &:nth-child(1) {
                            background-color: rgba(229, 50, 77, 1.00);
                        }
                        &:nth-child(1):hover {
                            background-color: rgba(145, 35, 50, 1.00);
                        }
                        &:nth-child(2) {
                            margin: 0 10px;
                            background-color: rgba(86, 201, 206, 1.00);
                        }
                        &:nth-child(2):hover {
                            background-color: rgba(57, 128, 130, 1.00);
                            
                        }
                        &:nth-child(3) {
                            background-color: rgba(203, 191, 0, 1.00);
                        }
                        &:nth-child(3):hover {
                            background-color: rgba(129, 122, 0, 1.00);
                        }
                        span {
                            display: inline-block;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            line-height: 150px;
                        }   
                    }
                }
                .words {
                    line-height: 30px;
                    font-size: 18px;
                }
            }
        }
    }
    div.resumes {
        max-width: 980px;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
        display: none;
        padding: 20px;
        h2 {
            display: block;
            font-size: 60px;
        }
        .content {
            display: flex;
            
            .left {
                flex: 4;         
                .article {
                    display: flex;
                    border-top: 1px solid rgba(139, 139, 139, 1.00);
                    padding: 40px;
                    .circle {
                        display: inline-block;
                        flex: 1;
                        padding: 0 20px;
                        width: 100%;
                        text-align: center;
                        span {
                            display: inline-block;
                            margin: 0 auto;
                            width: 120px;
                            height: 120px;
                            line-height: 120px;
                            text-align: center;
                            text-decoration: none;
                            border-radius: 50%;
                            color: rgba(250, 252, 255, 1.00);
                            background-color: rgba(229, 50, 77, 1.00); 
                        }
                    }
                    p {
                        flex: 4;
                        margin: 0;
                        padding: 20px;
                    }
                }
            }
            .right {
                flex: 1;
                padding: 20px;
                color: rgba(139, 139, 139, 1.00);
                .languages {
                    i {
                    border-radius: 50%;        
                    border: 0;
                    background-color: rgba(97, 208, 212, 1.00);
                    color: white;
                    font-size: 50px;
                    }
                    p {
                        margin: 0;
                        font-size: 30px;
                        border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                    }
                }
            }
        }
    }
    div.projects {
        max-width: 980px;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;
        display: none;
        padding: 20px;
        h2 {
            display: block;
            border-bottom: 1px solid rgba(139, 139, 139, 1.00);
            padding: 40px 0 60px 0;
            margin: 0;
            font-size: 60px;
        }
        .content {
            .article {
                display: flex;
                padding: 20px 0;
                border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                .left {
                    flex: 3;
                    position: relative;
                    display: inline-block;
                    margin: auto;
                    text-align: center; 
                    width: 100%; 
                    height: 100%;
                    
                    .lt,.gt {
                        position: absolute;
                        top: 0;
                        display: inline-block;
                        height: 200px;      
                        padding-top: calc(350px / 2 - 25px) ;
                        width: calc((100% - 350px) / 2);
                        margin: auto;
                        text-align: center;  
                        font-size: 30px;
                        color: white;
                        cursor: pointer;
                    }
                    .lt {
                        left: 0;
                    }
                    .gt {
                        right: 0;
                    }
                    .image {
                        position: relative;
                        display: flex;
                        margin: 0 auto;                                
                        overflow: hidden;
                        width: 350px;
                        height: 350px;
                        img {
                            opacity: 0;
                            flex-direction: row;
                            transition: all 1s;
                        }
                        .show {
                            opacity: 1;
                        }
                    }
                }
                .right {
                    flex: 3;
                    .circle {
                        display: inline-block;
                        flex: 1;
                        padding-bottom: 20px;
                        width: 100%;
                        text-align: center;
                        border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                        span {
                            display: inline-block;
                            margin: 0 auto;
                            width: 120px;
                            height: 120px;
                            line-height: 120px;
                            text-align: center;
                            text-decoration: none;
                            border-radius: 50%;
                            color: rgba(250, 252, 255, 1.00);
                            background-color: rgba(97, 208, 212, 1.00); 
                        }
                        
                    }
                    h3 {
                        margin: 0;
                        padding: 20px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
    footer {
        position: relative;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        height: 150px;
        background-color: rgba(229, 50, 77, 1.00);
        .footer {
            display: flex;
            margin: 0 auto;
            max-width: 980px; 
            height: 100%;
            // line-height: 150px;
            div {
                display: flex;
                width: calc( 100% / 3 - 10px);
                // height: 100%;
                // overflow: hidden;
                .icon {
                    flex: 1;
                    margin-top: 50px;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    font-size: 40px;
                    line-height: 100%;
                    border-radius: 50%;
                    background-color: rgba(86, 201, 206, 1.00);
                    i {
                        padding-top: 5px;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        color: rgba(226, 47, 68, 1.00);
                    }
                }
                div {
                    flex: 5;
                    width: calc(100% - 50px);
                    height: 50px;
                    display: flex;
                    margin-top: 50px;
                    margin-left: 10px;
                    flex-direction: column;
                    p {
                        display: inline-block;                                
                        margin: 0;
                        flex: 1;
                        width: 100%;
                        color: white;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    html {
        font-family: 'Ubuntu', sans-serif;
        body {
            margin: 0;
            background-color: rgba(231, 225, 225, 1.00);
        }
    }
    .container {
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        height: 100%;
        header {
            position: relative;
            width: calc(100% - 40px);
            height: 100px;
            .header-left {
                position: absolute;
                width: 225px;
                h1,h2 {
                    margin: 0;
                }
                h1 {
                    font-size: 35px;
                }
            }
            .header-right {
                position: absolute;
                left: 235px;
                width: calc(100% - 235px);
                i {
                    display: inline-block;
                    text-align: center;                            
                    width: 45px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 30px;
                    border-radius: 5px;
                    background-color: rgba(68, 68, 68, 1.00);
                    color: white;
                }
                .bars {
                    position: absolute;
                    display: block;
                    opacity: 0;
                    left: -235px;
                    width: 280px;
                    z-index: 10;
                    text-align: center;
                    background-color: rgba(85, 85, 85, 1.00);
                    transition: all 1s;
                    a {
                        display: block;
                        padding: 10px;
                        text-decoration: none;
                        color: white;
                        border: 1px solid white;
                        border-bottom: 0;
                    }
                    
                }
            }
        }
        div.home {
            .content {
                width: 100%;
                height: 100%;
                display: flex;
                .image {
                    display: none;
                }
                .info {
                    width: 100%;
                    .about {
                        padding : 20px;
                    }
                    .circle {
                        width: calc(100% - 40px);
                        padding: 20px;
                        margin: 0;
                        a {
                            margin: 0;
                            display: inline-block;
                            width: 90px;
                            height: 90px;
                            color: rgba(250, 252, 255, 1.00);
                            border-radius: 50%;
                            text-decoration: none;
                            background-color: red;
                            &:nth-child(1) {
                                background-color: rgba(229, 50, 77, 1.00);
                            }
                            &:nth-child(2) {
                                background-color: rgba(86, 201, 206, 1.00);
                                margin: 0;
                            }
                            &:nth-child(3) {
                                background-color: rgba(203, 191, 0, 1.00);
                            }
                            span {
                                display: inline-block;
                                text-align: center;
                                width: 100%;
                                height: 100%;
                                line-height: 90px;
                            }   
                        }
                    }
                    .words {
                        padding: 20px;
                        line-height: 30px;
                        font-size: 18px;
                    }
                }
            }
        }
        div.resumes {
            max-width: 400px;
            margin: 0 auto;
            height: 100%;
            // overflow: hidden;
            display: none;
            h2 {
                display: block;
                font-size: 55px;
            }
            .content {
                display: inline-block;
                width: 100%;
                .left {
                    flex: none;         
                    .article {
                        display: inline-block;
                        width: 100%;
                        border-top: 1px solid rgba(139, 139, 139, 1.00);
                        padding: 0;
                        .circle {
                            display: inline-block;
                            flex: none;
                            width: calc(100% - 40px);
                            text-align: center;
                            padding: 20px;
                            span {
                                display: inline-block;
                                margin: 0 auto;
                                width: 100px;
                                height: 100px;
                                line-height: 100px;
                                text-align: center;
                                text-decoration: none;
                                border-radius: 50%;
                                color: rgba(250, 252, 255, 1.00);
                                background-color: rgba(229, 50, 77, 1.00); 
                            }
                        }
                        p {
                            flex: none;
                            margin: 0;
                            padding: 20px;
                        }
                    }
                }
                .right {
                    flex: none;
                    .languages {
                        display: inline-block;
                        margin: 0 auto;
                        width: 100%;
                        i {
                            border-radius: 50%;        
                            border: 0;
                            background-color: rgba(97, 208, 212, 1.00);
                            color: white;
                            font-size: 50px;
                        }
                        p {
                            margin: 0;
                            font-size: 30px;
                            color: rgba(139, 139, 139, 1.00);
                            border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                        }
                    }
                }
            }
        }
        div.projects {
            max-width: 400px;
            margin: 0 auto;
            height: 100%;
            overflow: hidden;
            display: none;
            padding: 20px;
            h2 {
                display: block;
                border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                padding: 40px 0 60px 0;
                margin: 0;
                font-size: 60px;
            }
            .content {
                .article {
                    display: inline-block;
                    padding: 20px 0;
                    border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                    .left {
                        // flex: 3;
                        position: relative;
                        display: inline-block;
                        margin: auto;
                        text-align: center; 
                        width: 100%; 
                        height: 100%;
                        .lt,.gt {
                            position: absolute;
                            top: 0;
                            display: inline-block;
                            height: 200px;      
                            padding-top: calc(350px / 2 - 25px) ;
                            width: calc((100% - 350px) / 2);
                            margin: auto;
                            text-align: center;  
                            font-size: 30px;
                            color: white;
                            cursor: pointer;
                        }
                        .lt {
                            left: -20px;
                        }
                        .gt {
                            right: -3px;
                        }
                        .image {
                            position: relative;
                            // display: flex;
                            margin: 0 auto;                                
                            overflow: hidden;
                            width: 280px;
                            // width: 280px;
                            height: 280px;
                            img {
                                opacity: 0;
                                width: 100%;
                                flex-direction: row;
                                transition: all 1s;
                            }
                            .show {
                                opacity: 1;
                            }
                        }
                    }
                    .right {
                        // flex: 3;
                        .circle {
                            display: inline-block;
                            flex: 1;
                            padding: 10px;
                            width: 100%;
                            text-align: left;
                            border-bottom: 1px solid rgba(139, 139, 139, 1.00);
                            span {
                                display: inline-block;
                                margin: 0 auto;
                                width: 100px;
                                height: 100px;
                                line-height: 100px;
                                text-align: center;
                                text-decoration: none;
                                border-radius: 50%;
                                color: rgba(250, 252, 255, 1.00);
                                background-color: rgba(97, 208, 212, 1.00); 
                            }
                        }
                        h3 {
                            margin: 0;
                            padding: 20px 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        footer {
            position: relative;   
            height: 100%;
            background-color: rgba(229, 50, 77, 1.00);
            .footer {
                display: inline-block;     
                line-height: 100%;
                div {
                    display: inline-block;
                    width: 100%;
                    .icon {
                        margin-top: 30px;
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        // line-height: 100%;
                        border-radius: 50%;
                        background-color: rgba(86, 201, 206, 1.00);
                        i {
                            padding-top: 5px;
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            color: rgba(226, 47, 68, 1.00);
                        }
                    }
                    div {
                        display: inline-block;
                        width: calc(100% - 100px);
                        height: 50px;
                        margin-top: 30px;
                        margin-left: 10px;
                        p {
                            color: white;
                            margin: 0;
                            width: 100%;
                            display: inline-block;     
                            padding-bottom: 3px                           ;
                        }
                    }
                }
            }
        }
    }
}


